# 排除自己, 每个人的插件和其他配置文件的情况不一样, 如果需要单独配置则添加此项并在后面添加自己的配置文件
.gitignore

# 同步.obsidian文件夹下指定的子文件夹,名称前加"!", 这些插件都暂时没有用到, 将来找机会剔除
.obsidian/*
.obsidian/app.json
!.obsidian/appearance.json
.obsidian/bookmarks.json
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/graph.json
!.obsidian/hotkeys.json
.obsidian/graph.json
.obsidian/types.json
.obsidian/workspace.json


!.obsidian/snippets
!.obsidian/plugins/*
!.obsidian/plugins/dataview
!.obsidian/plugins/templater-obsidian
# !.obsidian/plugins/obsidian-git/
# !.obsidian/plugins/obsidian-linter/
!.obsidian/plugins/quickadd/
# !.obsidian/plugins/obsidian-outliner/
# !.obsidian/plugins/table-editor-obsidian/
# !.obsidian/plugins/obsidian-latex-suite/


# assert文件夹
# _assets_/*
_assets_/草稿


# 其他ob相关文件夹
.history
.trash

# 针对Mac系统的忽略
.DS_Store

# 子模块相关, 暂时没有用到
.gitmodules

# vscode配置文件夹
.vscode

# node_modules文件夹
node_modules

# package.json和包锁文件
package.json
package-lock.json

# mcp相关
*mcp*

# 日志文件
*.log