/* 替换文件夹的默认箭头图标 */
.tree-item-icon.collapse-icon svg {
    display: none; /* 隐藏默认的 SVG 图标 */
}

/* 折叠状态图标 */
.tree-item-icon.collapse-icon.is-collapsed::before {
    content: '';
    display: inline-block;
    width: 14px; /* 设置图标的宽度 */
    height: 14px; /* 设置图标的高度 */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='80px' height='80px' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath fill='%236a42b4' fill-rule='evenodd' d='M3 1a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V6a2 2 0 00-2-2h-5.032l-1.9-2.28A2 2 0 008.532 1H3zm0 2h5.532l1.9 2.28a2 2 0 001.536.72H17v11H3V3zm9.5 7.5h-5a1 1 0 100 2h5a1 1 0 100-2z'/%3E%3C/svg%3E");
    background-size: cover;
}

/* 展开状态图标 */
.tree-item-icon.collapse-icon.is-expanded::before {
    content: '';
    display: inline-block;
    width: 14px; /* 设置图标的宽度 */
    height: 14px; /* 设置图标的高度 */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='80px' height='80px' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath fill='%236a42b4' fill-rule='evenodd' d='M1 3a2 2 0 012-2h5.532a2 2 0 011.536.72l1.9 2.28H17a2 2 0 012 2v11a2 2 0 01-2 2H3a2 2 0 01-2-2V3zm7.532 0H3v14h14V6h-5.032a2 2 0 01-1.536-.72L8.532 3zM9 10.5V9a1 1 0 112 0v1.5h1.5a1 1 0 110 2H11V14a1 1 0 11-2 0v-1.5H7.5a1 1 0 110-2H9z'/%3E%3C/svg%3E");
    background-size: cover;
}
